// FLEXNAV ===============================================================

$nav_text: $white;
$top_level: transparent;
$second_level: #b2b2af;
$third_level: #bfbfbc;
$fourth_level: #cbcbc9;

.flexnav {
	@include pie-clearfix;
	@include transition(0);
	-webkit-transform-style: preserve-3d; // stop webkit flicker
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
	max-height: 0;
	padding:0;
	background:$lightcolor;

	&.show {
		max-height: 2000px;
		@include transition(1s);
	}
	&.one-page {
		position: fixed;
		top: 50px;
		right: 5%;
		max-width: 200px;
	}

	li {
		position: relative;
		overflow: hidden;
		width:50%;
		float:left;
		@include breakpoint(junior){
			width:auto;
		}
	}
	li a {
		position: relative;
		display: block;
		z-index: 2;
		overflow: hidden;
		color: $nav_text;
		text-align:center;
		font-family:$basefont;
		padding:20px 0;
		@include font-size(18);

		&:hover{
			background:darken($lightcolor,5%);
			text-decoration:none;
		}
	}

	li.active a{
		background:darken($lightcolor,5%);
		text-decoration:none;
	}
	li ul {
		width: 100%;

		li {
			font-size: 100%;
			position: relative;
			overflow: hidden;
		}
	}
	li ul.show {

		li {
			overflow: visible;
		}
	}

	li ul li a {
		display: block;
		background: $second_level;
	}
	ul li ul li a {
		background: $third_level;
	}
	ul li ul li ul li a {
		background: $fourth_level;
	}
	.touch-button {
		position: absolute;
		z-index: 999;
		top: 0;
		right: 0;
		width: 50px;
		height: 50px;
		display: inline-block;
		background: #acaca1;
		background: rgba(0,0,0,.075);
		text-align: center;
		&:hover {
			cursor: pointer;
		}
		.navicon {
			position: relative;
			top: 1.4em;
			font-size: 12px;
			color: #666;
		}
	}
}
.menu-button {
	position: absolute;
	display: block;
	color: $textcolor;
	cursor: pointer;
	top: 23px;
	left:10px;

	span{
		@include font-size(21);
	}


	&.one-page {
		position: fixed;
		top: 0;
		right: 5%;
		padding-right: 45px;
	}

	.touch-button {
		display:none;
		background: transparent;
		position: absolute;
		z-index: 999;
		top: 0;
		right: 0;
		width: 50px;
		height: 50px;
		text-align: center;

	}
}

@media all and (min-width: 768px) {
	body.one-page {
		padding-top: 70px;
	}
	.flexnav {
		overflow: visible;
		float:left;
		margin:15px 10px 0 10px;
		background:transparent;
		height:auto;
		max-height:100px;

		&.one-page {
			top: 0;
			right: auto;
			max-width: 1080px;
		}
		li {
			position: relative;
			list-style: none;
			float: left;
			display: block;
			width: auto;
			overflow: visible;

			&.active a{
				border-bottom: 3px solid $lightcolor;
				background:0;
				color: $lightcolor;
			}
		}
		li a {
			padding:10px;
			color:$textcolor;
			margin-right:10px;
			@include transition(border 0.1s ease-out, color 0.1s ease-out);
			&:hover{
				border-bottom: 3px solid $lightcolor;
				background:none;
				color:$lightcolor;
			}
		}
		li > ul {
			position: absolute;
			top: auto;
			left: 0;
			display: block;

			li {
				width: 100%;
			}
		}
		li ul li > ul {
			margin-left: 100%;
			top: 0;
		}
		li ul li:hover > ul,
		li ul li > ul.show {
		}
		li ul li a {
			border-bottom: none;
		}
		li ul.open {
			display: block;
			opacity: 1;
			visibility: visible;
			z-index: 1;

			li {
				overflow: visible;
				max-height: 100px;
			}
			ul.open {
				margin-left: 100%;
				top: 0;
			}
		}
	}
	.menu-button {
		display: none;
	}
}

.oldie {
	body.one-page {
		padding-top: 70px;
	}
	.flexnav {
		overflow: visible;

		&.one-page {
			top: 0;
			right: auto;
			max-width: 1080px;
		}
		li {
			position: relative;
			list-style: none;
			float: left;
			display: block;
			background-color: #a6a6a2;
			width: 20%;
			min-height: 50px;
		}
		li:hover > ul {
			visibility: visible;
			opacity: 1;
			height: auto;
			display: block;
			position: absolute;

			li {
				width: 100%;
				float: none;
			}
		}
		li a {
			border-left: 1px solid #acaca1;
			border-bottom: none;
		}
		li > ul {
			position: absolute;
			top: auto;
			left: 0;
			opacity: 0;
			visibility: hidden;
			height: 1px;
			z-index: 1;
		}
		li ul li ul {
			top: 0;
		}
		li ul li a {
			border-bottom: none;
		}
		li ul.open {
			display: block;
			opacity: 1;
			visibility: visible;
			height: auto;

			ul.open {
				margin-left: 100%;
				top: 0;
			}
		}
		ul li:hover ul {
			margin-left: 100%;
			top: 0;
		}
	}
	.menu-button {
		display: none;
	}
	&.ie7 .flexnav li {
		width: 19.9%;
	}
}



/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0; position: relative; zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {width: 60px; height: 50px; margin: -20px 0 0; display: block; position: absolute; top: 30%; z-index: 10; cursor: pointer; text-indent: -9999px; -webkit-transition: all .3s ease;
}
.flex-direction-nav a.flex-next{
	background: url(../img/flecha-derecha.svg) no-repeat;
	right:0;
	@include opacity(0.5);

	&:hover{
		@include opacity(1);
	}
}
.flex-direction-nav a.flex-prev{
	background: url(../img/flecha-izquierda.svg) no-repeat;
	left:0;
	@include opacity(0.5);
	&:hover{
		@include opacity(1);
	}
}

.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}


/***********************************************************************
*
*  Liquid Slider
*  Kevin Batdorf
*
*  http://liquidslider.kevinbatdorf.com
*
*  GPL license
*
************************************************************************/

/******************************************************
* No JavaScript
* Use this to apply styles when Javascript is disabled,
* and be sure to include the ".no-js" class in your html
* markup.
*******************************************************/
.no-js .liquid-slider {
  height:350px;
  overflow:scroll;
}

/******************************************************
* Preloader
* Use this to apply styles when Javascript is disabled,
* and be sure to include the ".no-js" class in your html
* markup.
*******************************************************/
.liquid-slider-wrapper .liquid-slider-preloader {
  background: url(../img/loading.gif) $lightcolor no-repeat center 75px;
  /* Do not edit below this line */
  width:100%;
  height:200%;
  position:absolute;
  top:0;
  left:0;
}

/******************************************************************
* Base Styles
* The styles here will apply to everything. I recommend you keep
* the styles in here specific to mobile defices, then use
* the media queries at the bottom to define further styles for larger
* screen-sizes. Think Mobile First. But be cautious of how
* your site will look in older IE browsers.
*
* Additional media queries are at the bottom of this document
******************************************************************/
.liquid-slider-wrapper {
  margin:0 auto;
  /* Do not edit below this line */
  clear: both;
  overflow: auto;
  position: relative;
}

/******************************************************
* Main Container
* This is the main container (minus the navigation).
* Be sure to match the width with the .panel class,
* or it won't work properly. Also, width only applies
* if you are not using the responsive setting.
*
* The responsive slider will interpret the width as the
* max width instead
*******************************************************/
.liquid-slider-wrapper .liquid-slider {
  background:$lightcolor;
  width: 1030px;
  /* Do not edit below this line */
  float: left;
  overflow: hidden;
  position: relative;
}
.liquid-slider-wrapper .panel-container {
  /* Do not edit below this line */
  position: relative;

}
.liquid-slider-wrapper .liquid-slider .panel-container .fadeClass {
  /* Do not edit below this line */
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

/******************************************************
* Panels
* This is for the panels. If you are using the
* responsive setting, this will act as the max-width
* for the entire slider.
*******************************************************/
.liquid-slider-wrapper .liquid-slider .panel {
  width: 1030px;
  /* Do not edit below this line */
  display: block;
  float: left;
}

/******************************************************
* These provide a base starting point for images and
* video. However, you will have to add more rules
* based on the content you use. Use the @media queries
* at the bottom of this file.
*******************************************************/
.liquid-slider-wrapper .liquid-slider .panel img{
  /*
  width:100%;
  height:auto;
  margin:0 5px;
  */
}

.liquid-slider-wrapper .liquid-slider .panel video {
  /*
  width:100%;
  height:auto;
  */
}

/******************************************************
* This is mainly used to adjust the padding inside each
* panel. If you are using the responsive setting, you
* need to use the settings below as this will not apply.
*******************************************************/
.liquid-slider-wrapper .liquid-slider .panel-wrapper {
  padding: 20px;
  /* Do not edit below this line */
  position:relative;
}

/*****************************************************
* This will adjust styles for all navigation tabs
* less of course the select box used for mobile
* navigation. The .current styles will apply only to
* the current tab.
*
* You may use this section to create navigation for
* mobile devices if you set mobileNavigation: false
* Be sure to edit media queries for larger devices below
* I have included an example below in comments.
*
* .currentCrossLink refers to external crosslinking.
*******************************************************/
.liquid-slider-wrapper .liquid-nav a {
  background: #d8d8d8;
  color: #333333;
  margin-right: 1px;
  padding: 3px 6px;
}
.liquid-slider-wrapper .liquid-nav a:hover {
  background: #f2f2f2;
  color: #333333;
  text-shadow: none;
}
.liquid-slider-wrapper .liquid-nav .current {
  background: #f2f2f2;
}
.currentCrossLink {
  font-weight: bold;
}
.liquid-slider-wrapper .liquid-nav ul {
  padding:0;
  /* Do not edit below this line */
  clear: both;
  display: block;
  margin: auto;
  overflow: hidden;
}
.liquid-slider-wrapper .liquid-nav ul li {
  /* Do not edit below this line */
  display: inline;
}
.liquid-slider-wrapper .liquid-nav ul li a {

  /* Do not edit below this line */
  display: block;
  float: left;
  text-decoration: none;
}
/*****************************************************
* Mobile Menu
* This will adjust styles for selectbox styles. I have
* included a simple example to create a custom select
* box.
*******************************************************/
.liquid-slider-wrapper .liquid-nav {
  overflow:hidden;
  clear:both;
}
.liquid-slider-wrapper .liquid-slider-select-box {
  /* Delete these if you want the standard select box.
     Also delete the rules below */

  width: 100%;
  height: 35px;
  overflow: hidden;
  background: url(../img/menu.png) no-repeat right #ddd;

}
.liquid-slider-wrapper .liquid-slider-select-box select {
  /* If you want the standard select box, use
  width:100%
  And delete the rest of the styling here */

  width: 150%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance:none;
  background: transparent;
  padding: 5px;
  font-size: 110%;
  border: 1px solid #bbb;
  height: 35px;
  cursor:pointer;
}

/******************************************************
* Arrows
* This section refers to both the non-graphical and
* graphical navigation arrows.
*
* Some settings will be overwritten when using the
* responsive setting.
*******************************************************/
.liquid-slider-wrapper .liquid-nav-left, .liquid-slider-wrapper .liquid-nav-right {
  /* Do not edit below this line */
  float: left;
}
.liquid-slider-wrapper .liquid-nav-left a, .liquid-slider-wrapper .liquid-nav-right a {
  /* non-graphical arrows */
  background: #000;
  color: #fff;
  padding: 5px;
  width: 100px;
  /* Do not edit below this line */
  display: block;
  text-align: center;
  text-decoration: none;
}
.liquid-slider-wrapper .liquid-nav-left-arrow, .liquid-slider-wrapper .liquid-nav-right-arrow {
  cursor: pointer;
  /* Do not edit below this line */
  float: left;
}
.liquid-slider-wrapper .liquid-nav-left-arrow a, .liquid-slider-wrapper .liquid-nav-right-arrow a {
  /* Do not edit below this line */
  display: block;
}
.liquid-slider-wrapper .liquid-nav-left, .liquid-slider-wrapper .liquid-nav-left-arrow {
  /* Do not edit below this line */
  clear: both;
}
.liquid-slider-wrapper .liquid-nav-right-arrow {
  width: 25px;
  height: 25px;
  background: url(../img/arrow.png) no-repeat top right;
  margin-top: 50px;
  margin-right: 5px;
  /* Do not edit below this line */
  position:relative;
}
.liquid-slider-wrapper .liquid-nav-left-arrow {
  width: 25px;
  height: 25px;
  background: url(../img/arrow.png) no-repeat top left;
  margin-top: 50px;
  margin-left: 5px;
  /* Do not edit below this line */
  position:relative;
}
.liquid-slider-wrapper .liquid-nav-left-arrow:hover {
  /* Left graphical arrows hover */
  background: url(../img/arrow.png) no-repeat bottom left;
}
.liquid-slider-wrapper .liquid-nav-left-arrow:active {
  /* Left graphical arrows click */
}
.liquid-slider-wrapper .liquid-nav-right-arrow:hover {
  /* Right graphical arrows hover */
  background: url(../img/arrow.png) no-repeat bottom right;
}
.liquid-slider-wrapper .liquid-nav-right-arrow:active {
  /* Right graphical arrows click */
}
.arrows .liquid-slider {
  /* Margin between slider and arrows */
  margin: 0 10px;
}

/******************************************************
* Responsive Styles
* Here are the main responsive styles. This mostly
* covers the arrows, and most of the settings can be
* applied above.
*******************************************************/
.liquid-responsive .liquid-slider {
  /* Do not edit below this line */
  width: 100%;
  margin: 0;
}
.liquid-responsive .liquid-slider .panel .panel-wrapper {
  padding: 10px;
}
.liquid-responsive .liquid-nav-left {
  /* Left non-graphical arrows */
  /* Do not edit below this line */
  position: absolute;
  left: 0;
  z-index: 1;
}
.liquid-responsive .liquid-nav-left a {
  /* Left non-graphical arrows */
  background: #9A9A9A;
  width: 80px;
}
.liquid-responsive .liquid-nav-left a:hover {
  /* Left non-graphical hover */
  background: #747474;
}
.liquid-responsive .liquid-nav-right {
  /* Right non-graphical arrows */
  /* Do not edit below this line */
  position: absolute;
  right: 0;
  z-index: 1;
}
.liquid-responsive .liquid-nav-right a {
  /* Right non-graphical arrows */
  background: #9A9A9A;
  width: 80px;
}
.liquid-responsive .liquid-nav-right a:hover {
  /* Right non-graphical arrows hover */
  background: #747474;
}
.liquid-responsive .liquid-nav-left-arrow {
  /* Do not edit below this line */
  position: absolute;
  left: 0;
  z-index: 1;
}
.liquid-responsive .liquid-nav-right-arrow {
  /* Do not edit below this line */
  position: absolute;
  right: 0;
  z-index: 1;
}

/******************************************************************
* Larger Mobile Devices
* This is for devices like the Galaxy Note or something that's
* larger than an iPhone but smaller than a tablet.
******************************************************************/
@media only screen and (min-width: 481px) {
  .liquid-slider-wrapper .liquid-slider .panel img{
    /* Example */
    /*
    width:24%;
    margin:2px;
    */
  }

}

/******************************************************************
* Tablet & Smaller Laptops
* This will include tablets and some netbooks.
******************************************************************/
@media only screen and (min-width: 768px) {
  .liquid-slider-wrapper .liquid-slider .panel img{
    /* Example */
    /*
    width:24%;
    */
  }
  .liquid-responsive .liquid-slider .panel .panel-wrapper {
    padding: 20px 35px;
  }
}

/******************************************************************
* DESKTOP
* This is the average viewing window. So Desktops, Laptops, and
* in general anyone not viewing on a mobile device. Here's where
* you can add resource intensive styles.
******************************************************************/
@media only screen and (min-width: 1030px) {


}

/******************************************************************
* LARGE VIEWING SIZE
* This is for the larger monitors and possibly full screen viewers.
******************************************************************/
@media only screen and (min-width: 1240px) {


}

/******************************************************************
* RETINA (2x RESOLUTION DEVICES)
* This applies to the retina iPhone (4s) and iPad (2,3) along with
* other displays with a 2x resolution. You can also create a media
* query for retina AND a certain size if you want. Go Nuts.
******************************************************************/

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {


}